body {
  background: #D2D2D2;
  padding: 0;
  margin: 0;
}

footer {
  display: block;
  padding: 3px;
  border-top: 1px solid #CDCDCD;
  background: -webkit-gradient(linear, left top, left bottom, from(#9C9C9C), to(#777777));
  text-align: right;
}

nav {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#272727), to(#121212));
}

.main {
  padding: 3px;
  max-height: 410px;
  overflow: auto;
}

footer input["type='text'"] {
  width: 50px;
}

.item {
  background: #F2F2F2;
  border: 1px solid #808080;
  padding: 8px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  margin-bottom: 8px;
}

button {
  line-height: 17px;
}