footer input["type='text'"] {
  width: 50px;
}

.main {
  padding: 3px;
  max-height: 410px;
  overflow: auto;
}

.item {
  background: #F2F2F2;
  border: 1px solid #808080;
  padding: 8px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  margin-bottom: 8px;
}

button {
  line-height: 17px;
}