footer input["type='text'"] {
  width: 50px;
}

.main {
  height: 416px;
  overflow: auto;
}

.item {
  padding: 8px;
  font-size: 16px;
/*  text-transform: uppercase;*/
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  /* Needs a alpha element for transition to work: http://screenflicker.com/mike/code/more-webkit-transition-funniness/ */
  -webkit-transition: background 0.4s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), color-stop(0.5, #F5F5F5), color-stop(0.5, #EBEBEB), to(#EBEBEB));
}

.item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#E8EAEB), color-stop(0.5, #E8EAEB), color-stop(0.5, #E0E2E3), to(#E0E2E3));
}

.item img {
  float: left;
  margin-right: 10px;
  width: 48px;
  height: 48px;
}

.item span {
  -webkit-user-select: text;
}

.loading {
  cursor: progress;
  background: url(/public/loading.gif) no-repeat 50% 50%;
}

button {
  line-height: 17px;
}